@font-face {
  font-family: 'Gilam Black';
  src: url('../webfonts/Gilam-BlackDEMO.woff2') format('woff2'), /* Super Modern Browsers */
  url('../webfonts/Gilam-BlackDEMO.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilam ThinItalic';
  src: url('../webfonts/Gilam-ThinItalicDEMO.woff2') format('woff2'), /* Super Modern Browsers */
  url('../webfonts/Gilam-ThinItalicDEMO.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr Black';
  src: url('../webfonts/HelveticaNeueCyr-Black.woff2') format('woff2'), /* Super Modern Browsers */
  url('../webfonts/HelveticaNeueCyr-Black.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr BlackItalic';
  src: url('../webfonts/HelveticaNeueCyr-BlackItalic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../webfonts/HelveticaNeueCyr-BlackItalic.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr Bold';
  src: url('../webfonts/HelveticaNeueCyr-Bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../webfonts/HelveticaNeueCyr-Bold.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr BoldItalic';
  src: url('../webfonts/HelveticaNeueCyr-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../webfonts/HelveticaNeueCyr-BoldItalic.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr Italic';
  src: url('../webfonts/HelveticaNeueCyr-Italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../webfonts/HelveticaNeueCyr-Italic.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr Light';
  src: url('../webfonts/HelveticaNeueCyr-Light.woff2') format('woff2'), /* Super Modern Browsers */
  url('../webfonts/HelveticaNeueCyr-Light.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr LightItalic';
  src: url('../webfonts/HelveticaNeueCyr-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../webfonts/HelveticaNeueCyr-LightItalic.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr Medium';
  src: url('../webfonts/HelveticaNeueCyr-Medium.woff2') format('woff2'), /* Super Modern Browsers */
  url('../webfonts/HelveticaNeueCyr-Medium.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr Roman';
  src: url('../webfonts/HelveticaNeueCyr-Roman.woff2') format('woff2'), /* Super Modern Browsers */
  url('../webfonts/HelveticaNeueCyr-Roman.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr Thin';
  src: url('../webfonts/HelveticaNeueCyr-Thin.woff2') format('woff2'), /* Super Modern Browsers */
  url('../webfonts/HelveticaNeueCyr-Thin.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr ThinItalic';
  src: url('../webfonts/HelveticaNeueCyr-ThinItalic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../webfonts/HelveticaNeueCyr-ThinItalic.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr UltraLight';
  src: url('../webfonts/HelveticaNeueCyr-UltraLight.woff2') format('woff2'), /* Super Modern Browsers */
  url('../webfonts/HelveticaNeueCyr-UltraLight.woff') format('woff');
  /* Pretty Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@mixin helvetica($style) {
  @if $style==black {
    font-family: 'HelveticaNeueCyr Black', Helvetica, sans-serif;
  }
  @if $style==black-italic {
    font-family: 'HelveticaNeueCyr BlackItalic', Helvetica, sans-serif;
  }
  @if $style==bold {
    font-family: 'HelveticaNeueCyr Bold', Helvetica, sans-serif;
    /* font-weight: 700; */
  }
  @if $style==bold-italic {
    font-family: 'HelveticaNeueCyr BoldItalic', Helvetica, sans-serif;
  }
  @if $style==italic {
    font-family: 'HelveticaNeueCyr Italic', Helvetica, sans-serif;
  }
  @if $style==light {
    font-family: 'HelveticaNeueCyr Light', Helvetica, sans-serif;
  }
  @if $style==light-italic {
    font-family: 'HelveticaNeueCyr LightItalic', Helvetica, sans-serif;
  }
  @if $style==medium {
    font-family: 'HelveticaNeueCyr Medium', Helvetica, sans-serif;
  }
  @if $style==roman {
    font-family: 'HelveticaNeueCyr Roman', Helvetica, sans-serif;
  }
  @if $style==thin {
    font-family: 'HelveticaNeueCyr Thin', Helvetica, sans-serif;
  }
  @if $style==thin-italic {
    font-family: 'HelveticaNeueCyr ThinItalic', Helvetica, sans-serif;
  }
  @if $style==ultra-light {
    font-family: 'HelveticaNeueCyr UltraLight', Helvetica, sans-serif;
  }
}

@mixin gilam($style) {
  @if $style==black {
    font-family: 'Gilam Black', Helvetica, sans-serif;
    /* font-weight: 900; */
  }
  @if $style==thin-italic {
    font-family: 'Gilam ThinItalic', Helvetica, sans-serif;
  }
}